### Rocket Capital Investment Competition score & reward verification notebook
- The objective of this notebook is to provide clarity about the methodology the score & reward calculation.
- Please refer to https://rocket-capital-investment.gitbook.io/rci-competition/scoring-and-reward-policy for detail documentation.

In [1]:
# import libraries

import pandas as pd
import lib.validation as val

from lib.rocket import get_rocket_competition

In [2]:
CHALLENGE_NUMBER = 1

# get competition, challenge and participants

competition = get_rocket_competition()
challenge = competition.get_challenge(CHALLENGE_NUMBER)
participants = challenge.get_all_participants()

# get participant addresses and build dataframe

addresses = [participant.address for participant in participants]
df = pd.DataFrame()
df["address"] = addresses
df.head()

scanning the Polygon blockchain
..........................................................................................................................................................................................
blockchain scan completed

                                    address
0  16391fe372c2f5b2a3874e65187dd173e6552fe6
1  dbcc5a6c8b126e6be68b2bfb838d23ade8e7de57
2  889432c467b59475900845c1f414e0d3461d1459
3  7e3f69b71019b93123114375119d18df6a1f3a2a
4  4c2a8ed7374912ee6c980b29fe5021aa94f4c543

In [3]:
# add errors, and challenge competition and stake scores

errors = {participant.address: val.compute_error(participant) for participant in participants}
df["error"] = df["address"].map(errors)

challenge_scores = val.compute_challenge_scores(challenge)
df["challenge_score"] = df["address"].map(challenge_scores)

competition_scores = [val.compute_competition_score(participant) for participant in participants]
df["competition_scores"] = competition_scores

stakes = val.get_stakes(challenge)
df["stake"] = df["address"].map(stakes)

df.head()

downloading file QmZteoVtw4bPTLLjQE4x6gHLgHuHBET9d1JX7CtVqWCsKA
downloading file QmVtt8XrDJgd8kTYLieNEBSbwxfVLYqF5ssDFvJD4ZcKkL
downloading file Qme4EwAWYSkamc8LUp6qBSt18bQ4UnMHLMA4cazmhRQLnc
downloading file QmePJ2nJuTrKZw28VGPBoZ8VRcWdKFRVqa8nhLGcroMa8z
downloading file Qmchxf1fZyLZo78pLBDHwNBphHe5VWhPmid1vGWeUv6qRm
downloading file QmbZXYkfkCCUGPf1eqrh7J88PSVpuapH7pSon6iGfHMkHP
downloading file QmPvZB3mM1ZttJ1MizekiqXi5ZnWHgSWGzYFeT8Co2JGNX
downloading file Qmdo4hXASj2b74oBX4wFYhEBtVRWLXKDEWEf7Vo2gf8yuT
downloading file QmYBKCugk2vnHAbofStpF4cQuHq98hRP3PjMWSG18V6Vzn
downloading file QmeeNKzKAayj7LJAi47cXV9raZB8KtZmNnBSvkukWwELQQ
downloading file QmUeii6ZCE2vBU8GY94K2RK3e3zZYRc5esqF3eTW42CfuT
downloading file QmTCupnsa9MGHzDhyGkrDGb6qQEApzYu8XMcJGLaKDztSz
downloading file Qmddp3FSed7JSEZVQWvX19S9CzJLtAJx2BntWJhWUXiyoC
downloading file Qmf7gJhGHAv3U7qDxZKCp3nJQCy2N5VfXmHqabSyHcniEG
downloading file QmXds48ky9HagBtuV3A6Ceby67JQ9BzNRWXNoRp5CQQAmC
downloading file QmP2y48tyD61zaj2tQD4hVtGMuxJLtMiSNoz7Ldea2vNqM
downloading file QmbkqriAhqKmVVXDKSf5j3werdB3QLcbDMX45rEq5oT7Q3
downloading file QmWVyruuf24T8aUsYDHEDiXAStP1hvyrZP2V6NJ3JWKEQv
downloading file QmQjAwMzWPonyQH3j151MscXnTkiwz8aB1BJDyuppd2Lq3
downloading file QmWWD9yR4kgazWytdwRJ3GTjR17yHQ6gD5BkxWxcrj9PWb

,address,error,challenge_score,competition_scores,stake
0,16391fe372c2f5b2a3874e65187dd173e6552fe6,NaN,NaN,NaN,1000.000000000000000000
1,dbcc5a6c8b126e6be68b2bfb838d23ade8e7de57,0.281610,1.000000,0.900000,1000.000000000000000000
2,889432c467b59475900845c1f414e0d3461d1459,0.369438,0.066667,0.000000,1000.000000000000000000
3,7e3f69b71019b93123114375119d18df6a1f3a2a,0.316809,0.200000,0.100000,1000.000000000000000000
4,4c2a8ed7374912ee6c980b29fe5021aa94f4c543,0.322906,0.133333,0.033333,1000.000000000000000000

In [4]:
# add challenge, competition, stake and total rewards

challenge_rewards = val.compute_challenge_rewards(challenge)
df["challenge_reward"] = df["address"].map(challenge_rewards)

competition_rewards = val.compute_competition_rewards(challenge)
df["competition_reward"] = df["address"].map(competition_rewards)

stake_rewards = val.compute_stake_rewards(challenge)
df["stake_reward"] = df["address"].map(stake_rewards)

df["total_reward"] = df.challenge_reward + df.competition_reward + df.stake_reward
df

,address,error,challenge_score,competition_scores,stake,challenge_reward,competition_reward,stake_reward,total_reward
0,16391fe372c2f5b2a3874e65187dd173e6552fe6,NaN,NaN,NaN,1000.000000000000000000,0,0,84,84
1,dbcc5a6c8b126e6be68b2bfb838d23ade8e7de57,0.281610,1.000000,0.900000,1000.000000000000000000,273.9130434782,1181.25,84,1539.1630434782
2,889432c467b59475900845c1f414e0d3461d1459,0.369438,0.066667,0.000000,1000.000000000000000000,0,0,84,84
3,7e3f69b71019b93123114375119d18df6a1f3a2a,0.316809,0.200000,0.100000,1000.000000000000000000,0,0,84,84
4,4c2a8ed7374912ee6c980b29fe5021aa94f4c543,0.322906,0.133333,0.033333,1000.000000000000000000,0,0,84,84
5,b7ece21c962697a3194c0b6e4b81db54433055ab,0.290750,0.266667,0.166667,1000.000000000000000000,6.0869565217,0,84,90.0869565217
6,a16a483a18f00a00b14b93438e8ad21f485b382f,0.289811,0.466667,0.366667,1000.000000000000000000,79.1304347826,0,84,163.1304347826
7,fe3c3f351e6df846566e10119e4295ed69b2cd72,0.289331,0.600000,0.500000,1000.000000000000000000,127.8260869565,236.2499999999,84,448.0760869564
8,f097ed117dd3930f1eeb91569a6a61b4c52744c8,0.290106,0.400000,0.300000,1000.000000000000000000,54.7826086956,0,84,138.7826086956
9,3e04d3e08ea54c34f721ac007107fe7a4bd957d5,0.290689,0.333333,0.233333,1000.000000000000000000,30.4347826086,0,84,114.4347826086
10,1be48b2b7594fe7e47701bc7e7bb83beaf84ecc0,0.289706,0.533333,0.433333,1000.000000000000000000,103.4782608695,78.7499999999,84,266.2282608694
11,fb8bc3433016a64a3b8aa23c0275afe7c20feb53,0.288599,0.866667,0.766667,1000.000000000000000000,225.2173913043,866.25,84,1175.4673913043
12,eba5ba85f72e40a9f2b8782c2bd51ec31a5564da,0.285692,0.933333,0.833333,1000.000000000000000000,249.5652173913,1023.75,84,1357.3152173913
13,e14867e41410bd7232a52b9400476c08b4e535b3,0.289072,0.733333,0.633333,1000.000000000000000000,176.5217391304,551.2499999999,84,811.7717391303
14,98e41d65e981a882afcb05d41939197da3465b6f,0.288923,0.800000,0.700000,1000.000000000000000000,200.8695652173,708.75,84,993.6195652173
15,8355b0536a6a3b0116374b33dc3f8b7c344ca8bb,NaN,NaN,NaN,1000.000000000000000000,0,0,84,84
16,2547002b0b8bfd052111981ef314118b6b54f61c,0.289276,0.666667,0.566667,1000.000000000000000000,152.1739130434,393.7499999999,84,629.9239130433
17,bf72960a4051d7f0a3fb4dae1e1c1d3085567cb6,NaN,NaN,NaN,1000.000000000000000000,0,0,84,84
18,3ab42b6c81443da2e1f13e0a7d0150416620bf7c,NaN,NaN,NaN,1000.000000000000000000,0,0,84,84
19,396d3b38be7269b2707f7a4feffae71cba4bb110,0.437925,0.000000,0.000000,1000.000000000000000000,0,0,84,84