### Rocket Capital Investment Competition score & reward verification notebook
- The objective of this notebook is to provide clarity about the methodology of score & reward calculation.
- Please refer to https://rocket-capital-investment.gitbook.io/rci-competition/scoring-and-reward-policy for detail documentation.

In [1]:
# import libraries

import pandas as pd
import lib.validation as val

from lib.rocket import get_rocket_competition

#### To start, we define the challenge number that we want to verify the score & reward, it then query the Polygon blockchain to get the participant address

In [2]:
CHALLENGE_NUMBER = 5

# get competition, challenge and participants

competition = get_rocket_competition()
challenge = competition.get_challenge(CHALLENGE_NUMBER)
participants = challenge.get_all_participants()

# get participant addresses and build dataframe

addresses = [participant.address for participant in participants]
df = pd.DataFrame()
df["address"] = addresses
df.head()

                                    address
0  16391fe372c2f5b2a3874e65187dd173e6552fe6
1  dbcc5a6c8b126e6be68b2bfb838d23ade8e7de57
2  889432c467b59475900845c1f414e0d3461d1459
3  7e3f69b71019b93123114375119d18df6a1f3a2a
4  4c2a8ed7374912ee6c980b29fe5021aa94f4c543

#### Now, we continue with download the datasets as well as submissions (could take awhile ~15-20 mins) to calculate the RMSE error.
#### Based on the error, we can calculate the challenge/competition scores
#### In order to calculate the reward, we also get individual participant's stake

In [3]:
# add errors, and challenge competition and stake scores

errors = {participant.address: val.compute_error(participant) for participant in participants}
df["error"] = df["address"].map(errors)

challenge_scores = val.compute_challenge_scores(challenge)
df["challenge_score"] = df["address"].map(challenge_scores)

competition_scores = [val.compute_competition_score(participant) for participant in participants]
df["competition_scores"] = competition_scores

stakes = val.get_stakes(challenge)
df["stake"] = df["address"].map(stakes)

df.head()

exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.
exception: Incorrect decryption.

,address,error,challenge_score,competition_scores,stake
0,16391fe372c2f5b2a3874e65187dd173e6552fe6,NaN,NaN,NaN,1165.045239917499998227
1,dbcc5a6c8b126e6be68b2bfb838d23ade8e7de57,NaN,NaN,0.501082,2000.000000000000000000
2,889432c467b59475900845c1f414e0d3461d1459,NaN,NaN,0.514661,1160.000000000000000000
3,7e3f69b71019b93123114375119d18df6a1f3a2a,NaN,NaN,0.284954,1255.114687566799997141
4,4c2a8ed7374912ee6c980b29fe5021aa94f4c543,NaN,NaN,0.170003,1167.516487152099999845

#### Calculates the rewards (challenge, competition, stake) for the defined challenge number
#### The displayed result can be compared to the 'My Scores' and/or 'Leaderboard' published on DApp (https://competition.rocketcapital.ai/)

In [5]:
# add challenge, competition, stake and total rewards

challenge_rewards = val.compute_challenge_rewards(challenge)
df["challenge_reward"] = df["address"].map(challenge_rewards)

competition_rewards = val.compute_competition_rewards(challenge)
df["competition_reward"] = df["address"].map(competition_rewards)

stake_rewards = val.compute_stake_rewards(challenge)
df["stake_reward"] = df["address"].map(stake_rewards)

df["total_reward"] = df.challenge_reward + df.competition_reward + df.stake_reward
df

,address,error,challenge_score,competition_scores,stake,challenge_reward,competition_reward,stake_reward,total_reward
0,16391fe372c2f5b2a3874e65187dd173e6552fe6,NaN,NaN,NaN,1165.045239917499998227,37.1428571428,111.4285714286,23.1657410097,171.7371695811
1,dbcc5a6c8b126e6be68b2bfb838d23ade8e7de57,NaN,NaN,0.501082,2000.000000000000000000,37.1428571428,111.4285714286,39.7679681716,188.3393967430
2,889432c467b59475900845c1f414e0d3461d1459,NaN,NaN,0.514661,1160.000000000000000000,37.1428571428,111.4285714286,23.0654215395,171.6368501109
3,7e3f69b71019b93123114375119d18df6a1f3a2a,NaN,NaN,0.284954,1255.114687566799997141,37.1428571428,111.4285714286,24.9566804734,173.5281090448
4,4c2a8ed7374912ee6c980b29fe5021aa94f4c543,NaN,NaN,0.170003,1167.516487152099999845,37.1428571428,111.4285714286,23.2148792504,171.7863078218
5,b7ece21c962697a3194c0b6e4b81db54433055ab,NaN,NaN,0.611738,1474.555914024899998968,37.1428571428,111.4285714286,29.3200463281,177.8914748995
6,a16a483a18f00a00b14b93438e8ad21f485b382f,NaN,NaN,0.572029,1771.062675790600014377,37.1428571428,111.4285714286,35.2157820603,183.7872106317
7,fe3c3f351e6df846566e10119e4295ed69b2cd72,NaN,NaN,0.511983,2211.200829154699995622,37.1428571428,111.4285714286,43.9674820974,192.5389106688
8,f097ed117dd3930f1eeb91569a6a61b4c52744c8,NaN,NaN,0.466382,1390.042563495799999626,37.1428571428,111.4285714286,27.6395842111,176.2110127825
9,3e04d3e08ea54c34f721ac007107fe7a4bd957d5,NaN,NaN,0.411419,1294.740026861100002261,37.1428571428,111.4285714286,25.7445900893,174.3160186607
10,1be48b2b7594fe7e47701bc7e7bb83beaf84ecc0,NaN,NaN,0.630842,2013.824436922900012800,37.1428571428,111.4285714286,40.0428530553,188.6142816267
11,fb8bc3433016a64a3b8aa23c0275afe7c20feb53,NaN,NaN,0.832983,3652.737602027299956825,37.1428571428,111.4285714286,72.6309763483,221.2024049197
12,eba5ba85f72e40a9f2b8782c2bd51ec31a5564da,NaN,NaN,0.861109,3888.411028683899964160,37.1428571428,111.4285714286,77.3171030134,225.8885315848
13,e14867e41410bd7232a52b9400476c08b4e535b3,NaN,NaN,0.515483,2784.590070902399929759,37.1428571428,111.4285714286,55.3687446553,203.9401732267
14,98e41d65e981a882afcb05d41939197da3465b6f,NaN,NaN,0.372282,2722.109902101199974561,37.1428571428,111.4285714286,54.1263899732,202.6978185446
15,8355b0536a6a3b0116374b33dc3f8b7c344ca8bb,NaN,NaN,0.089838,1074.764981473700000690,37.1428571428,111.4285714286,21.3706097876,169.9420383590
16,2547002b0b8bfd052111981ef314118b6b54f61c,NaN,NaN,0.537233,2633.208854381099975223,37.1428571428,111.4285714286,52.3586829551,200.9301115265
17,bf72960a4051d7f0a3fb4dae1e1c1d3085567cb6,NaN,NaN,NaN,1165.045239917499998227,37.1428571428,111.4285714286,23.1657410097,171.7371695811
18,3ab42b6c81443da2e1f13e0a7d0150416620bf7c,NaN,NaN,0.004037,1165.045239917499998227,37.1428571428,111.4285714286,23.1657410097,171.7371695811
19,396d3b38be7269b2707f7a4feffae71cba4bb110,NaN,NaN,0.763636,1231.768915253399999441,37.1428571428,111.4285714286,24.4924735082,173.0639020796
20,df5e0604fc23ac5df98a9ab7a62425ec2bd4b9d3,NaN,NaN,NaN,1476.275424247400021469,37.1428571428,111.4285714286,29.354237042,177.9256656134
21,29174f88e6e60f48717624381d2bba019e4d0858,NaN,NaN,0.168437,1058.000000000000000000,37.1428571428,111.4285714286,21.0372551627,169.6086837341
22,f8d50e3283fb6bf41260f7f294a48587d2a9b1fa,NaN,NaN,0.582006,2109.917638778099993498,37.1428571428,111.4285714286,41.9535687518,190.5249973232
23,af26322c7c7a3278d572a2f9bdac1a89c7b45b17,NaN,NaN,0.263636,1087.121217646899999919,37.1428571428,111.4285714286,21.616300991,170.1877295624
24,fe00eb2ef14f6bb4262bd40ba51fe39dd3166b42,NaN,NaN,0.036364,1023.516450560399999147,37.1428571428,111.4285714286,20.3515848145,168.9230133859
25,756ef834ecc631b289ef489408276b1d1f6479bd,NaN,NaN,0.254065,1097.928827850099999350,37.1428571428,111.4285714286,21.8311993403,170.4026279117
26,148a3009f4e74e3c3b8a8df46c62e6ee8a95635b,NaN,NaN,0.000000,1050.280074730900000900,37.1428571428,111.4285714286,20.8837522915,169.4551808629
27,aec3c9e734009c84d0390db0bdcd069cd4ff2fc6,NaN,NaN,0.552174,1177.558270219600000670,37.1428571428,111.4285714286,23.4145499051,171.9859784765
28,adf7ecc62d7512243ef5816cafbe220460a5469c,NaN,NaN,0.813043,1393.361062089400018492,NaN,NaN,27.7055691843,NaN
29,1f4884f352b77f683c3ce8a588264dae9a0ede77,NaN,NaN,0.008696,1000.000000000000000000,NaN,NaN,19.8839840858,NaN
30,d97c43af0ffa4651b873c4f7742dd85fdcf36880,NaN,NaN,0.247826,1034.276684478499999996,NaN,NaN,20.5655411344,NaN
31,fdd19c676fd809907c495034e84c7e0907ced9ec,NaN,NaN,NaN,100.000000000000000000,NaN,NaN,1.9883984085,NaN
32,f9e2e5493f85a5ba92cf1343e5ae36a1c1e1631e,NaN,NaN,NaN,100.144000000000000000,NaN,NaN,1.9912617022,NaN
33,4eee80d00177021ca6b908c365e7d7bdca2e440f,NaN,NaN,NaN,1000.000000000000000000,NaN,NaN,19.8839840858,NaN
34,6c358f6d0cfb1d6512611342a963fc33a8e2e40c,NaN,NaN,NaN,374.237000000000000000,NaN,NaN,7.4413225523,NaN